In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('50_Startups.csv')

In [3]:
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
dataset = pd.get_dummies(dataset,drop_first = True)

In [5]:
#spliting of input and output datas

independent = dataset [['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]

In [6]:
independent

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

In [7]:
dependent = dataset [['Profit']]

In [8]:
dependent

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [13]:
#model creation
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {'n_estimators' : [50,100] ,'criterion' : ['squared_error','friedman_mse', 'absolute_error', 'poisson'],
              'max_features' :['sqrt','log2']}
              
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit = 'True', verbose = 3,n_jobs = -1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             refit='True', verbose=3)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             refit='True', verbose=3)

In [11]:
#print best parameter after tuning 


re = grid.cv_results_
print('The R_score vlaue for best parameter {}:'.format(grid.best_params_))

The R_score vlaue for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 50}:
The R_score vlaue for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 50}:

In [14]:
table = pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.167836,0.014026,0.031828,0.003986,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",-7.901070,-7.076712,-10.439203,-2.084619,-3.762280,-6.252777,2.983220,14
1,0.303961,0.010753,0.047994,0.007943,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",-7.342184,-7.407975,-9.262528,-1.649326,-4.149249,-5.962252,2.711990,11
2,0.166590,0.004613,0.032206,0.003419,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",-7.667122,-8.001565,-8.138413,-2.869190,-4.138309,-6.162920,2.213301,13
3,0.330138,0.021316,0.044590,0.005741,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",-7.898032,-6.465211,-7.757540,-1.618312,-3.719199,-5.491659,2.450187,6
4,0.160386,0.007405,0.028410,0.001475,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.368497,-6.658107,-11.034020,-1.173883,-3.992380,-6.045377,3.315385,12
5,0.294542,0.015028,0.044399,0.007336,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",-7.165608,-7.539305,-6.642603,-1.081112,-3.980993,-5.281924,2.442733,4
6,0.175722,0.010112,0.034281,0.006342,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.648561,-7.705578,-11.418220,-1.295367,-3.699774,-6.353500,3.515214,15
7,0.350704,0.016606,0.051873,0.004839,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",-7.355279,-7.307310,-7.281674,-1.312797,-3.963541,-5.444120,2.439695,5
8,0.234266,0.019673,0.031184,0.002137,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",-6.941581,-7.314283,-5.589078,-1.101096,-3.890798,-4.967367,2.275922,1
9,0.391376,0.019386,0.057168,0.013037,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",-7.689866,-7.187462,-6.947443,-0.499368,-3.770421,-5.218912,2.732795,3
10,0.220074,0.013280,0.035780,0.003370,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",-7.613716,-7.002685,-12.432860,-1.965949,-4.225881,-6.648218,3.530192,16
11,0.397772,0.012126,0.050571,0.003718,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",-7.640549,-7.123472,-7.404595,-1.367144,-4.175876,-5.542327,2.435978,8
12,0.206481,0.025696,0.033981,0.005097,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",-5.882317,-5.544119,-9.231458,-1.985119,-6.288605,-5.786324,2.308171,9
13,0.352598,0.015552,0.048572,0.003876,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",-5.299532,-6.934253,-10.716696,-0.634234,-5.572155,-5.831374,3.238612,10
14,0.184494,0.009042,0.034381,0.001199,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",-4.968545,-5.854741,-10.152738,-0.894904,-5.694613,-5.513108,2.942794,7
15,0.305228,0.041616,0.038974,0.010714,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",-5.361639,-5.489204,-7.634948,-0.681314,-5.728973,-4.979216,2.301884,2

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.167836,0.014026,0.031828,0.003986,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",-7.901070,-7.076712,-10.439203,-2.084619,-3.762280,-6.252777,2.983220,14
1,0.303961,0.010753,0.047994,0.007943,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",-7.342184,-7.407975,-9.262528,-1.649326,-4.149249,-5.962252,2.711990,11
2,0.166590,0.004613,0.032206,0.003419,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",-7.667122,-8.001565,-8.138413,-2.869190,-4.138309,-6.162920,2.213301,13
3,0.330138,0.021316,0.044590,0.005741,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",-7.898032,-6.465211,-7.757540,-1.618312,-3.719199,-5.491659,2.450187,6
4,0.160386,0.007405,0.028410,0.001475,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.368497,-6.658107,-11.034020,-1.173883,-3.992380,-6.045377,3.315385,12
5,0.294542,0.015028,0.044399,0.007336,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",-7.165608,-7.539305,-6.642603,-1.081112,-3.980993,-5.281924,2.442733,4
6,0.175722,0.010112,0.034281,0.006342,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.648561,-7.705578,-11.418220,-1.295367,-3.699774,-6.353500,3.515214,15
7,0.350704,0.016606,0.051873,0.004839,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",-7.355279,-7.307310,-7.281674,-1.312797,-3.963541,-5.444120,2.439695,5
8,0.234266,0.019673,0.031184,0.002137,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",-6.941581,-7.314283,-5.589078,-1.101096,-3.890798,-4.967367,2.275922,1
9,0.391376,0.019386,0.057168,0.013037,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",-7.689866,-7.187462,-6.947443,-0.499368,-3.770421,-5.218912,2.732795,3
10,0.220074,0.013280,0.035780,0.003370,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",-7.613716,-7.002685,-12.432860,-1.965949,-4.225881,-6.648218,3.530192,16
11,0.397772,0.012126,0.050571,0.003718,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",-7.640549,-7.123472,-7.404595,-1.367144,-4.175876,-5.542327,2.435978,8
12,0.206481,0.025696,0.033981,0.005097,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",-5.882317,-5.544119,-9.231458,-1.985119,-6.288605,-5.786324,2.308171,9
13,0.352598,0.015552,0.048572,0.003876,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",-5.299532,-6.934253,-10.716696,-0.634234,-5.572155,-5.831374,3.238612,10
14,0.184494,0.009042,0.034381,0.001199,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",-4.968545,-5.854741,-10.152738,-0.894904,-5.694613,-5.513108,2.942794,7
15,0.305228,0.041616,0.038974,0.010714,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",-5.361639,-5.489204,-7.634948,-0.681314,-5.728973,-4.979216,2.301884,2

In [16]:
age_input = float(input('Age :'))

bmi_input = float(input('BMI :'))

children_input = float(input('Children:'))

sex_male_input = int(input('Sex male 0 or 1:'))

smoker_yes_input = int(input('Smoker Yes 0 or 1:'))

Age :23
BMI :23
Children:0
Sex male 0 or 1:1
Smoker Yes 0 or 1:0

In [17]:
future_prediction = grid.predict ([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [18]:
future_prediction

array([50740.4862])

array([50740.4862])